# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
.env.local
.env.development.local
.env.test.local
.env.production.local

# Flask
instance/
.webassets-cache

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Логи и БД
*.log
*.sqlite3
*.db

# Папки проекта
uploads/
temp/
test_files/

# PyCharm
.idea/
*.iml
*.ipr
*.iws